*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
.cont{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    /* height: 100vh;
    width: 100%; */
    background-image:url('3129.jpg');
    background-size: cover;
    background-position: center ;
    background-repeat: no-repeat;
    background-attachment:fixed ;
}

#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgba(42, 43, 67, 0.255);
    color: white;
    height: 120px;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(8px);
    position: sticky;
    top: 0;
    z-index: 1;
}

#header h1{
    font-size: 26px;
    font-weight: bold;
    transition: 1s ease-in-out;
}
#header h1:hover{
    color: #bce447;
    cursor: default;
    transition: 0.25s ease-in-out;
}

#nav a{
    color: #bce447;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
    transition:  1s ease-in-out;
}   
#nav a:hover{
    color: #ffffff73;
    transition:  0.3s ease-in-out;
    cursor: pointer;

}

#hero{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: calc(100vh - 120px);
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    font-size: 22px;
}


.leftside{
    max-width: 50%;
    padding: 20px;

}
.glassy{
    width: 440px;
    height: 440px;
    background-color:rgba(70, 71, 93, 0.255) ;
    backdrop-filter: blur(8px);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1000px
}
#avatar{
    width: 400px;
    height: 400px;
    background-image: url("self.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 1000px;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
}
#about{
    padding: 50px;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    width: 100%;
    height: auto;
    background-color: rgba(42, 43, 67, 0.255);
    backdrop-filter: blur(8px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 50px;    

}
.context{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    font-size: 24px;
    width: 90%;
    height: auto;
    margin: auto;
}
.upperbox, .midderbox, .lowerbox{
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
}
.upperbox p,.midderbox p, .lowerbox p{
    font-size: 18px;
    line-height: 1.6;
    width: 40%;
    padding-left: 10%;
}
.upboximage{
    background-image: url('example1.jpg');
    width: 40%;
    height: 400px;  
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 15px;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
    margin-left: 10%;

}
.lowboximage{
    background-image: url('example2.jpg');
    width: 40%;
    height: 400px;  
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 15px;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
    margin-left: 10%;

}

 /* Dropdown Button */
.dropbtn {
  background-color: #bce447;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #bce447;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: block;

}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  padding: 10px;
  margin-top: 40px;
}
.dropdown-content > img {
    width: 100px;
    height: 100px;
    margin: 10px;
    border-radius: 10px;
    transition: 0.4s ease-in-out;
}
.dropdown-content > img:hover {
    transform: scale(1.05);
    transition: 0.4s ease-in-out;
    cursor: pointer;
    background-color: #bce447;
    border-radius: 10px;
}
/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:flex;}  


#skills{
    display: flex;
    width: 50%;
    height: 400px;  
    justify-content: center;
    align-items: center;

}


#contacts{
    padding: 50px;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    font-size: 20px;
    width: 100%;
    height: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 50px;    
    display: flex;
    justify-self: center;
    justify-content: space-around;
    align-items: center;
}
.contactinfo{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 30%;
    margin: auto;
}
.contactinfo a{
    color: #bce447;
    text-decoration: none;
    font-size: 18px;
    transition:  1s ease-in-out;
}   
.contactinfo a:hover{
    color: #ffffff73;
    transition:  0.3s ease-in-out;
    cursor: pointer;
}   

#projects{
    padding: 50px;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    font-size: 20px;
    width: 100%;
    height: auto;
    background-color: rgba(42, 43, 67, 0.255);
    backdrop-filter: blur(8px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 50px;    
    display: grid  ;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
.logo{
    height: 800px;
    width: 50%;
    padding: 100px;
    text-align: center;
}
.img{
    width: 85%;
    height: 100%;
    background-image: url('25919865_21139516636808.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: auto;
    border-radius: 1000px;
}
